@import '../../sass/utils/variables';

.square {
  border: 1px solid $color--white;
  cursor: pointer;
  height: 6.2rem;
  line-height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 6.2rem;

  &__white {
    background-color: rgb(210, 180, 140);
  }

  &__black {
    background-color: rgb(139, 69, 19);
  }
  &__active--noPiece::before {
    bottom: 8%;
    color: rgba(20, 30, 85, 0.6);
    content: '•';
    font-size: 7rem;
    position: absolute;
    right: 30%;
  }
  &__active--piece::before {
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid rgba(255, 0, 21, 0.6);
    content: '';
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 2;
  }

  &__chosen::after {
    background-color: rgba(20, 85, 30, 0.5);
    bottom: 0%;
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0%;
    width: 100%;
    z-index: 0;
  }
}
